<header>
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if signed_in? %>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
        </ul>
        <% if signed_in? %>
            <ul>
                <li>Logged in as <%= current_user.email %></li>
                <li>Curent Status: <%= current_user.status %></li>
                <li><%= link_to "Edit Account/Status", edit_user_path(current_user) %></li>
            </ul>
        <% end %>
    </nav>
</header>