<header>
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if signed_in? %>
                <li>Logged in as <%= current_user.email %></li>
                <li><%= link_to "Users", '#' %></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
        </ul>
    </nav>
</header>